@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  /* border: 2px solid red; */
  text-transform: uppercase;
}
h1{
  color: white;
  padding: 1rem 5rem;
  font-weight: bold;
  font-size: x-large;
  background-color: #3b3a3a;

}

.algos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}


nav {
  background-color: #3b3a3a;
  color: white;
  display: flex;
  justify-content: space-evenly;
  /* display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60%;
      grid-template-columns: 30% 60%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  padding: 0% 5%; */
}

nav .array-inputs {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  /* display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  place-content: center;
  padding: 5% 0%; */
}

nav .array-inputs #a_size {
  padding: 5% 0%;
}

nav .array-inputs #a_speed {
  padding: 5% 0%;
}

nav .array-inputs #a_generate {
  background-color: rgb(94, 94, 94);
  /* background-color: transparent; */
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  /* padding: 4% 0% 0% 0%; */
  /* padding-left: 20%; */
}

nav .array-inputs #a_generate:hover {
  cursor: pointer;
  background-color: rgb(75, 75, 75);
}


.header_right { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerInput{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.containerInput p {
  max-width: 150px;
}


nav .header_right .algos button {
  
  background-color: rgb(94, 94, 94);
  border-radius: 1rem;
  border: none;
  color: white;
  margin-left: 15px;
  margin-top : 15px;
  outline: none;
  /* height: 1rem; */
  padding: 2rem;
  font-size: medium;
}

nav .header_right .algos button:hover {
  background-color: rgb(78, 78, 78);
  cursor: pointer;
}


nav .header_right .algos .butt_locked {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_locked:hover {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_selected {
  background-color: white;
  color: rgb(0, 0, 0);
}

nav .header_right .algos .butt_selected:hover {
  background-color: white;
  cursor: pointer;
}

nav .header_right .algos .butt_unselected:hover {
  background-color: rgb(78, 78, 78);
  cursor: pointer;
}

section {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

section #Info_Cont1 {
  padding: 20%;
}

section #array_container {
  
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 70vh;
}

section #Info_Cont2 {
  padding: 20%;
}

.hide {
  display: none;
}

button {
  margin-left: 5px;
  padding: 5px;
}

/* 
.generateButton:hover{
  background-color: rgb(78, 78, 78);
  cursor: pointer;
} */